/* emoji / ascii icons */
.ec{
    display: inline-block;
    text-rendering: auto;
    font-style:normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    filter: sepia(90%);
}

.ec:before {
    box-sizing: border-box;
}

.ec-📂:before{
    content: '📂';
}
.ec-📜:before{
    content: '📜';
}
.ec-🤝:before{
    content: '🤝';
}
.ec-📯:before {
    content: '📯';
}
.ec-🧙:before {
    content: '🧙'‍;
}
.ec-🔥:before {
    content: '🔥';
}
.ec-⏩:before {
    content: '⏩';
}
.ec-💣:before {
    content: '💣';
}
.ec-💬:before {
    content: '💬';
}
.ec-🖼:before {
    content: '🖼';
}
.ec-🌍:before {
    content: '🌍';
}
.ec-🚫:before {
    content: '🚫';
}
.ec-⬆:before {
    content: '⬆';
}
.ec-➕:before {
    content: '➕';
}
.ec-⚙:before {
    content: '⚙';
}
.ec-👍:before {
    content: '👍';
}
.ec-👎:before {
    content: '👎';
}
.ec-◀:before {
    content: '◀';
}
.ec-▶:before {
    content: '▶';
}
.ec-🔖:before{
    content: '🔖';
}
.ec-😊:before{
    content: '😊';
}